---
interface Props {
    currentTime: Date;
    currentTemperature2m: number;
    currentApparentTemperature: number;
}

const {
    currentTime,
    currentTemperature2m,
    currentApparentTemperature
} = Astro.props;

const currentYear = currentTime.getFullYear();
const currentMonth = currentTime.getMonth() + 1;
const currentDay = currentTime.getDate();
const currentHour = currentTime.getHours();
const currentMinutes = currentTime.getMinutes();
// import { queryApi } from '../util/weather-fetch.ts'
// current: "temperature_2m,apparent_temperature,is_day,precipitation,rain,showers,snowfall,cloud_cover",
// hourly: "temperature_2m,apparent_temperature,precipitation,rain,showers,snowfall,snow_depth,weather_code",
// daily: "weather_code,sunrise,sunset,daylight_duration,sunshine_duration,uv_index_max,uv_index_clear_sky_max,wind_speed_10m_max,wind_gusts_10m_max",
// const params = {
//     latitude: [53.5501],
//     longitude: [-113.4687],
//     current: "temperature_2m,apparent_temperature",
//     hourly: "temperature_2m,apparent_temperature",
//     daily: "weather_code,sunrise,sunset"
// };

// console.log(await queryApi(params))
---

<div id="weather-display-container">
    <div id="current-time-display-container">
        <h1 id="current-time-header">{currentHour} : {currentMinutes}</h1>
        <h2 id="current-date-header">
            {currentYear}/{currentMonth}/{currentDay}
        </h2>
    </div>
    <div class="flex flex-col items-end justify-center">
        <div class="group relative text-center">
            <h1 class="h1-content">
                {currentTemperature2m.toFixed(0)}째
            </h1>
            <span class="tooltip">
                (째C) Temperature at 2 meters above the ground.
            </span>
        </div>
        <div class="group relative text-center">
            <h1 class="secondary-header">
                Feels like: {currentApparentTemperature.toFixed(0)}째
            </h1>
            <span class="tooltip">
                (째C) Perceived temperature. Accounts for wind chill, relative
                humidity, and solar radiation.
            </span>
        </div>
    </div>
</div>

<style>
    .secondary-header {
        @apply text-xl text-white font-light tracking-wide mb-0;
    }

    #current-time-display-container {
        @apply flex flex-col items-center justify-center;
    }
    #current-time-header {
        @apply text-6xl font-light text-white tracking-tight mb-2;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    #current-date-header {
        @apply text-xl text-white font-light tracking-wide;
    }
    .h1-content {
        @apply text-white font-normal m-2;
    }
    h1 {
        @apply text-3xl font-light text-white mb-4 font-semibold;
    }
    #weather-display-container {
        @apply flex flex-row p-4 justify-center gap-10 mx-auto w-fit rounded-xl;
        background-color: #3d405b;
    }
    .tooltip {
        @apply invisible group-hover:visible opacity-0 group-hover:opacity-100 transition-opacity bg-gray-800 text-white text-sm rounded absolute py-2 px-3 z-10;
    }
</style>
